<!DOCTYPE html>
<html>
  <head>
    <title>OpenOmakase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type='text/javascript'>
      window.mainBackground = "<%= image_url('main_background.jpg') %>";
      window.la = "<%= image_url('la.jpg') %>";
      window.sf = "<%= image_url('sf.jpg') %>";
      window.nyc = "<%= image_url('nyc.jpg') %>";
      window.mia = "<%= image_url('mia.jpg') %>";
      window.hnl = "<%= image_url('hnl.jpg') %>";
      window.wabisabi = "<%= image_url('wabisabi.jpg') %>";
      window.tempuraendo = "<%= image_url('tempuraendo.jpg') %>";
      window.hiden = "<%= image_url('hiden.jpg') %>";
      window.hashiri = "<%= image_url('hashiri.jpg') %>";
      window.sushisho = "<%= image_url('sushisho.jpg') %>";
      window.azabu = "<%= image_url('azabu.jpg') %>";
      window.kusakabe = "<%= image_url('kusakabe.jpg') %>";
      window.maruyama = "<%= image_url('maruyama.jpg') %>";
      window.masa = "<%= image_url('masa.jpg') %>";
      window.yamakase = "<%= image_url('yamakase.jpg') %>";
    </script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
